{% extends 'layout.html.twig' %}

{% block title %}{{parent()}}Résultats de la recherche
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/searchStyle.css">
{% endblock %}

{% block content %}

	<div class="container">

		<h1>Résultat de votre recherche</div>

		<div class="searchResult container">
			{% for result in results %}

				<div class="post row">
					<a class="liens container" href="/post/show?id={{ result.id }}">
						<div class="row">
							<div class="data_user col-lg-2 text-center">
								{% if result.picture_link == NULL %}
									<img src="/assets/images/index.png" class="img-fluid rounded-circle" alt="{{ result.nickname }} photo">
								{% else %}
									<img src="/assets/images/{{ result.picture_link }}" class="img-fluid rounded-circle" alt="{{ result.nickname }} photo">
								{% endif %}
								<p>{{ result.nickname }}</p>
							</div>
							<div class="data_post col-lg-10 align-items-start">
								<div>
									<p>{{ result.subject }}</p>
								</div>
								<div class="row">
									<div class="col-lg-7 align-items-start">
										<p>{{ result.numberMessage }}
											de messages</p>
									</div>
									<div class="col-lg-3 align-items-end text-end">
										<p>le
											{{ result.date|date("d/m/Y") }}
											à
											{{ result.date|date('H:i') }}</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}
