{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ user.nickname }}</h1>
    <p>{{ user.nickname }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.password }}</p>
    <p>{{ user.role }}</p>
    <a href="/user/edit?id={{ user.id }}">Edit</a>
    <a href="/users">Back</a>
{% endblock %}