{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="display-4">{{ user.nickname }}</h1>
    <div class="container">
        <div class="d-flex flex-row align-items-center">
            <p><strong>Utilisateur n°</strong> {{ user.id }}</p>
        </div>
        <div class="d-flex flex-row align-items-center">
            <p><strong>Nom d'utilisateur </strong>: {{ user.nickname }}</p>
        </div>
        <div class="d-flex flex-row align-items-center">
            <p><strong>E-mail </strong>: {{ user.email }}</p>
        </div>
        <div class="d-flex flex-row align-items-center">
            <p><strong>Mot de passe </strong>: {{ user.password }}</p>
        </div>
        <div class="d-flex flex-row align-items-center">
            <p><strong>Rôle </strong>: <div>{{ user.role }}</div></p>
        </div>
        <a href="/user/edit?id={{ user.id }}" class="btn btn-primary mb-2">Edit</a>
        <form action="/user/delete" method="POST">
            <input type="hidden" name="id" value="{{ user.id }}">
            <button class="btn btn-primary mb-2">Delete</button>
        </form>
        <a href="/users" class="btn btn-primary mb-2">Back</a>
    </div>
{% endblock %}