{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}}Liste des thèmes
{% endblock %}

{% block content %}

	<div class="container">
		<h1 class="display-6">Liste des themes du langage {{ themes.name_category }}</h1>

		<div class="listTheme row justify-content-center">

			{% for theme in themes %}

				<div class="theme col-xs-10 col-sm-5">

					<a class="liens" href="/posts/index?theme={{ theme.id_theme }}">
						<div class="text-theme">
							<h2 class="h2-theme">{{ theme.name_theme }}</h2>
						</div>
					</a>
					<div class="row detail-theme">
						<div class="sujets col">
							<p>{{ theme.number_post }}
								sujets actuels</p>
						</div>
						<div class="actu col">
							<p>Dernière actualité le {{ theme.last_date_post|date("d/m/Y") }}
							</p>
						</div>
					</div>

				</div>

			{% endfor %}

		</div>
	</div>

{% endblock %}
